<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"
           [title]="homeLink.shortDesc"
           [routerLink]="[homeLink.path]">
          {{ homeLink.title }}
        </a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a [title]="logsLink.shortDesc"
             [routerLink]="[logsLink.path]">
            {{ logsLink.title }}
          </a>
        </li>

        <li>
          <a [title]="targetsLink.shortDesc"
             [routerLink]="[targetsLink.path]">
            {{ targetsLink.title }}
          </a>
        </li>
      </ul>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a (click)="setNormalFonts()" [attr.title]="appStrings.navbar.fonts.normal">
              <i class="fa fa-font"></i>
            </a>
          </li>
          <li>
            <a (click)="setLargeFonts()" [attr.title]="appStrings.navbar.fonts.large">
              <i class="fa fa-low-vision"></i>
            </a>
          </li>
          <li *ngIf="!isUserLogged">
            <a [routerLink]="[loginLink.path]" [title]="loginLink.shortDesc">
              {{ loginLink.title }}
            </a>
          </li>
          <li *ngIf="isUserLogged">
            <a [routerLink]="[dashboardLink.path]" [title]="dashboardLink.shortDesc">
              {{ dashboardLink.title }}
            </a>
          </li>
          <li *ngIf="isUserLogged">
            <a [routerLink]="[logoutLink.path]" [title]="logoutLink.shortDesc">
              {{ logoutLink.title }}
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
