<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="moira">
        <p>
          <img class="center-block"
               src="http://i.imgur.com/Xxk26W3.jpg"
               alt="The Walls… of Moria!">
        </p>
        <p>
          <span class="actor">Gimli: </span>
          <span class="quote">
            "The Walls… of Moria!"
          </span>
        </p>
        <p>
          <span class="action">
            [The Fellowship stands and looks upon a vast cliff face.]
          </span>
        </p>
        <p>
          <span class="actor">Gimli: </span>
          <span class="quote">
            "Dwarf doors are invisible when closed."
          </span>
        </p>
        <p>
          <span class="action">
            [He knocks his axe against a rock.
            The Fellowship moves along the wall, searching for a door.]
          </span>
        </p>
        <p>
          <span class="actor">Gandalf: </span>
          <span class="quote">
            "Yes, Gimli, their own masters cannot find them, if their secrets are forgotten."
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/DxJJ76K.jpg"
               alt="Why doesn't that surprise me?">
        </p>
        <p>
          <span class="actor">Legolas: </span>
          <span class="quote">
            "Why doesn't that surprise me?"
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/8gfzgny.jpg"
               alt="[Gimli grumbles, but says nothing.]">
        </p>
        <p>
          <span class="action">
            [Gimli grumbles, but says nothing.]
          </span>
        </p>
        <p>
          <span class="action">
            [A foot splashes into shallow water.
            Frodo gasps, pulling his leg back.
            A great pool sits beside the rock face.]
          </span>
        </p>
        <p>
          <span class="action">
            [Gandalf approaches the rock between two trees, and runs his hand over the cliff face.]
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/4njmm65.jpg"
               alt="Now… let's see. Ithildin —">
        </p>
        <p>
          <span class="actor">Gandalf: </span>
          <span class="quote">
            "Now… let's see. Ithildin —"
          </span>
        </p>
        <p>
          <span class="action">
            [Beneath his hand run spidery silver lines, faint beneath the dirt.]
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/srr2imi.jpg"
               alt="It mirrors only starlight… and moonlight.">
        </p>
        <p>
          <span class="actor">Gandalf: </span>
          <span class="quote">
            "It mirrors only starlight… and moonlight."
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/Z99nwLK.jpg"
               alt="[As he looks up at the black night sky, the moon appears.
               The silver lines grow bright,
               outling a door formed of two columns beneath an arch,
               with a star in the center.]">
        </p>
        <p>
          <span class="action">
            [As he looks up at the black night sky, the moon appears.
            The silver lines grow bright, outling a door formed of two columns beneath an arch,
            with a star in the center.]
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/Ac21sv2.jpg"
               alt="It reads 'The Doors of Durin — Lord of Moria. Speak, friend, and enter.'">
        </p>
        <p>
          <span class="actor">Gandalf: </span>
          <span class="quote">
            "It reads 'The Doors of Durin — Lord of Moria. Speak, friend, and enter.'"
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/bcMQ2La.jpg"
               alt="What do you suppose that means?">
        </p>
        <p>
          <span class="actor">Merry: </span>
          <span class="quote">
            "What do you suppose that means?"
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/6Xzwreb.jpg"
               alt="Oh, it's quite simple.
               If you are a friend, you speak the password, and the doors will open.">
        </p>
        <p>
          <span class="actor">Gandalf: </span>
          <span class="quote">
            "Oh, it's quite simple.
            If you are a friend, you speak the password, and the doors will open."
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/mLGvQP8.jpg"
               alt="'Annon Edhellen, edro hi ammen!' (Gate of the Elves, open now for me!)">
        </p>
        <p>
          <span class="actor">Gandalf: </span>
          <span class="quote">
            "Annon Edhellen, edro hi ammen!" (Gate of the Elves, open now for me!)
          </span>
        </p>
        <p>
          <img class="center-block"
               src="http://i.imgur.com/dr7cG3l.jpg"
               alt="[The Doors remain closed.]">
        </p>
        <p>
          <span class="action">
            [The Doors remain closed.]
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
