<input *ngIf="config.filtering" placeholder="Filter"
       [ngTableFiltering]="config.filtering"
       (tableChanged)="onChangeTable()"/>

<ng-table [config]="config.sorting"
          (tableChanged)="onChangeTable()"
          [rows]="rows" [columns]="columns"
          (cellClicked)="passCellClickedEvent($event)">
</ng-table>

<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable($event)"
            (numPages)="numPages = $event">
</pagination>
